<link rel="stylesheet" href="~/css/subscription.css" type="text/css" />
<div class="background">
    <div class="container">
        <div class="panel pricing-table">

            <div class="pricing-plan">
                <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
                <h2 class="pricing-header">Silver</h2>
                <ul class="pricing-features">
                    <li class="pricing-features-item">Newbie</li>
                    <li class="pricing-features-item">Unlimited access to all the EBooks on the site for 15 days</li>
                </ul>
                <span class="pricing-price">15 Days</span>
                <a href="#/" class="pricing-button">€10</a>
            </div>

            <div class="pricing-plan">
                <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
                <h2 class="pricing-header">Gold</h2>
                <ul class="pricing-features">
                    <li class="pricing-features-item">Never sleeps</li>
                    <li class="pricing-features-item">Unlimited access to all the EBooks on the site for 30 days</li>
                </ul>
                <span class="pricing-price">30 Days</span>
                <a href="#/" class="pricing-button is-featured">€15</a>
            </div>

            <div class="pricing-plan">
                <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
                <h2 class="pricing-header">Platinum</h2>
                <ul class="pricing-features">
                    <li class="pricing-features-item">Dedicated</li>
                    <li class="pricing-features-item">Unlimited access to all the EBooks on the site for 60 days</li>
                </ul>
                <span class="pricing-price">60 Days</span>
                <a href="#/" class="pricing-button">€25</a>
            </div>

        </div>
    </div>
</div>